.nav-button {
  border: 1px solid #4D4D4D;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.12);
  transition: all 0.3s ease-in-out;
}

.nav-button:hover {
  border-color: rgba(255, 255, 255, 0.39);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
} 